[submodule "sv-benchmarks"]
	path = sv-benchmarks
	url = https://gitlab.com/sosy-lab/benchmarking/sv-benchmarks
[submodule "benchexec"]
	path = benchexec
	url = git@github.com:Deka-Verifications/benchexec.git
[submodule "scripts"]
	path = scripts
	url = git@github.com:Deka-Verifications/competition-scripts.git
[submodule "coveriteam"]
	path = coveriteam
	url = https://gitlab.com/sosy-lab/software/coveriteam
[submodule "sv-witnesses"]
	path = sv-witnesses
	url = https://github.com/sosy-lab/sv-witnesses.git
[submodule "archives"]
	path = archives
	url = git@github.com:Deka-Verifications/archives.git
